<div class="navbar bg-base-100 fixed z-50 shadow-lg">
  <div class="navbar-start">
    <label
      [routerLink]="'/dashboard'"
      tabindex="0"
      class="btn btn-ghost btn-circle avatar"
    >
      <div class="w-10 rounded-full">
        <img src="../../../assets/logo.png" />
      </div>
    </label>
  </div>
  <div class="navbar-center">
    <input
      type="text"
      placeholder="Ich suche nach ..."
      class="input input-sm input-bordered rounded-full w-full max-w-xs"
    />
    <button class="btn btn-sm btn-ghost btn-circle ml-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </button>
    <button class="btn btn-sm btn-ghost btn-circle ml-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        viewBox="0 0 512 512"
      >
        <title>Funnel</title>
        <path
          d="M35.4 87.12l168.65 196.44A16.07 16.07 0 01208 294v119.32a7.93 7.93 0 005.39 7.59l80.15 26.67A7.94 7.94 0 00304 440V294a16.07 16.07 0 014-10.44L476.6 87.12A14 14 0 00466 64H46.05A14 14 0 0035.4 87.12z"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="41"
        />
      </svg>
    </button>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
          />
        </svg>
        <span class="badge badge-xs badge-primary indicator-item"></span>
      </div>
    </button>
    <div class="dropdown dropdown-end ml-2">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://placeimg.com/80/80/people" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
      >
        <li>
          <a [routerLink]="'/dashboard'" class="justify-between"> Dashboard </a>
        </li>
        <li>
          <a class="justify-between"> Profil </a>
        </li>
        <li><a>Projekte</a></li>
        <li><a>Einstellungen</a></li>
        <li><a [routerLink]="'/login'">Abmelden</a></li>
      </ul>
    </div>
  </div>
</div>
