<div class="hero h-[70vh] bg-gray-50 mt-10">
  <button
    (click)="generateNewProject()"
    class="absolute left-2 md:left-5 top-[35vh] cursor-pointer btn btn-ghost btn-sm md:btn-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512"
      class="w-6 h-6 md:w-10 md:h-10"
    >
      <title>Chevron Back</title>
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M328 112L184 256l144 144"
      />
    </svg>
  </button>
  <button
    class="absolute right-2 md:right-5 top-[35vh] cursor-pointer btn btn-ghost btn-sm md:btn-md"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512"
      class="w-6 h-6 md:w-10 md:h-10"
      (click)="generateNewProject()"
    >
      <title>Chevron Forward</title>
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M184 112l144 144-144 144"
      />
    </svg>
  </button>
  <div class="hero-content w-2/3 max-w-5xl flex-col px-0">
    <h1 class="text-md font-bold float-left w-full mb-0 pl-4 text-primary">
      Das könnte dir gefallen
    </h1>
    <div class="w-full max-w-5xl">
      <img
        [src]="image"
        class="w-full rounded-lg shadow-2xl object-cover object-center"
      />
    </div>
    <div class="max-w-5xl">
      <h1 class="break-all text-5xl font-bold flex items-center">
        {{ title }}
        <div *ngIf="isNew" class="ml-2 badge badge-lg badge-secondary">Neu</div>
      </h1>
      <p class="pt-5 line-clamp-5 h-36">
        {{ description }}
      </p>
    </div>
    <div class="w-full flex justify-between items-center h-10 -mt-4">
      <div class="rating rating-sm justify-start">
        <input type="radio" name="rating-9" class="rating-hidden" />
        <input
          type="radio"
          name="rating-2"
          class="mask mask-star-2 bg-primary"
        />
        <input
          type="radio"
          name="rating-2"
          class="mask mask-star-2 bg-primary"
        />
        <input
          type="radio"
          name="rating-2"
          class="mask mask-star-2 bg-primary"
        />
        <input
          type="radio"
          name="rating-2"
          class="mask mask-star-2 bg-primary"
        />
        <input
          type="radio"
          name="rating-2"
          class="mask mask-star-2 bg-primary"
        />
      </div>
      <div>
        <div
          *ngFor="let category of randomCategories"
          class="badge badge-outline ml-2"
        >
          {{ category }}
        </div>
      </div>
    </div>
  </div>
</div>
